*{
margin: 0%;
padding: 0%;
box-sizing: border-box
}
body,html {
height: 100%;
width: 100%;
}
#main {
height: 100%;
width: 100%;
}

.box{
width: 400px;
height: 400px;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
transition: all 3s linear 1s;
}

.container{
    height: 100vh;
    height: 100vw;
    display: flex;
justify-content: center;
align-items: center;
}

.box:hover{
    transform: rotate(45deg);
}


p{
    font-size: 36px;
}
